<a href="https://colab.research.google.com/github/kalki81000/first---assignment/blob/main/Copy_of_Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. write a code to reverse a string
string = "Hello,world"
reversed_string = string[::-1]
print(reversed_string)

dlrow,olleH

In [ ]:
#2. Write a code to count the number of vowels in a string
string = "Hello,world"
vowels ='aeiouAEIOU'
count = sum(char in vowels for char in string)
print(count)

3

In [ ]:
#3.write a code to check if a given string is a palindrome or not
string = "racecar"
is_palindrome = string ==string[::-1]
print(is_palindrome)

True

In [ ]:
#4. Write a code to check if two given string are anagrams of each other
string1 = "listen"
string = "silent"
are_anagrams = sorted(string1.replace('',").lower ())==sorted(string2.replace('',").lower())
print(are_anagrams)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', "'", "'", "'", "'", "'", "'", "'", "'", "'", "'", "'", "'", "'", "'", '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', '(', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ')', ',', ',', ',', ',', ',', ',', ',', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '2', '2', '2', '2', '2', '2', '2', '=', '=', '=', '=', '=', '=', '=', '=', '=', '=', '=', '=', '=', '=', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'g', 'g', 'g', 'g', 'g', 'g', 'g', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'p', 'p', 'p', 'p', 'p', 'p', 'p', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 's', 's', 's', 's', 's', 's', 's', 's', 's', 's', 's', 's', 's', 's', 's', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 'w', 'w', 'w', 'w', 'w', 'w', 'w']

In [ ]:
#5 . write a code to find all occurences of a given substring within another string
string ="The quick brown fox jumps over a lazy dog "
substring ="the"
indices = []
start = 0
while True :
  strat = string.find(substring,start)
  if start == -1 :
    break
  indices.append(start)
  start +=1
print(indices)

In [ ]:
# 6. write a code to perform basics string compression using the counts of repeated characters
string = "aabcccccaaa"
compressed = ""
count = 1
for i in range(len(string)):
  if i == len(string) -1 or string[i] !=string[i+1]:
    compressed +=string[i] + str(count)
    count =1
  else:
    count +=1
  print(compressed)

a2
a2b1
a2b1
a2b1
a2b1
a2b1
a2b1c5
a2b1c5
a2b1c5
a2b1c5a3

In [ ]:
#7.write a code to determine if a string has all uique charactrs
string = "abcde"
char_set = set()
has_unique_chars = True
for char in string :
  if char in char_set:
    has_unique_chars = false
    break
  char_set.add(char)
print(has_unique_chars)

True

In [ ]:
#8. write a code to convert a given string to uppercase or lowercase
string = "Hello,World"
case = "upper"
if case == "upper":
  converted_string = string.upper()
elif case == "lower":
   converted_string = string.lower()
else:
  converted_string = string
print(converted_string)

HELLO,WORLD

In [ ]:
# 9. Write a code to count the numbers of words in a string
string ="Hello,World!This is a sample string."
words = string.split()
word_count = len(words)
print(word_count)

5

In [ ]:
# 10. write a code to concatenate two string without using the + operator

string1 = "Hello"
string2 = "world"
concatenated_string ="".join([string1,string2])
print(concatenated_string)

Helloworld

In [ ]:
#11.Write a code to remove all occurrences of a specific element form a list
lst = [1,2,3,4,5,3,3]
element = 3
new_list = [item for item in lst if item!=element]
print(new_list)

[1, 2, 4, 5]

In [ ]:
#12.Implement a code to find the second largest number in given list of integers
lst = [10,5,8,20,15]
if len(lst)<2:
  second_largest =None
else:
  largest = max(lst)
  lst.remove(largest)
  second_largest = max(lst)
print(second_largest)

15

In [ ]:
#13. Create a code to count the occurrence of each element in a list and return a dictionary with elements as keys and their counts as values
lst = [1,2,3,2,4,1,5,1]
freq_dict = {}
for item in lst:
  if item in freq_dict:
    freq_dict[item]+=1
  else:
    freq_dict[item] = 1
print(freq_dict)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

In [ ]:
#14. Write a code to reverse a list in-place without using any built-in reverse funtions
lst = [1,2,3,4,5]
left = 0
right = len (lst) -1
while left < right:
  lst[left],lst[right] = lst[right],lst[left]
  left +=1
  right -=1
print(lst)

[5, 4, 3, 2, 1]

In [ ]:
#15. implement a code to find and remove dplicates from a list while preserving the original order of element
lst = [1,2,3,2,4,1,5]
seen = set()
result =[]
for item in lst:
  if item not in seen:
    seen.add(item)
    result.append(item)
print(result)

[1, 2, 3, 4, 5]

In [ ]:
#16.Create a code to check if a given list is sorted (either in ascending or dscending order)or not
lst = [1,2,3,4,5]
ascending = all(lst[i]<=lst[i+1]for i in range(len(lst)-1))
descending = all(lst[i]<=lst[i+1]for i in range(len(lst)-1))
is_sorted = ascending or descending
print(is_sorted)

True

In [ ]:
#17. write a code to merge two sorted lists into a single sorted list
lst1 = [1,3,5]
lst2 = [2,4,6]
merged =[]
i,j =0,0
while i<len(lst1)and j<len(lst2):
  if lst1[i]<=lst2[i]:
    merged.append(lst1[i])
    i +=1
  else:
    mergedd.append(lst2[i])
    j +=1
merged.extend(lst1[i:])
merged.extend(lst2[j:])
print(merged)

[1, 3, 5, 2, 4, 6]

In [ ]:
#18. implement a code to find the intersection of two given lists
lst1 =[1,2,3,4,5]
lst2 =[4,5,6,7,8]
intersection = list(set(lst1)&set(lst2))
print(intersection)

[4, 5]

In [ ]:
#19.create a code to union of two lists without duplicates
lst1 =[1,2,3,4,5]
lst2 =[4,5,6,7,8]
union = list(set(lst1) | set(lst2))
print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#20. write a code to shuffle a given list randomly without using any built-in huffle functions import random
import random
lst = [1,2,3,4,5]
shuffled = lst.copy()
for i in range(len(shuffled)):
  j = random.randint(i,len(shuffled)-1)
  shuffled[i],shuffled[j] = shuffled[j],shuffled[i]
  print(shuffled)

[2, 1, 3, 4, 5]
[2, 4, 3, 1, 5]
[2, 4, 1, 3, 5]
[2, 4, 1, 3, 5]
[2, 4, 1, 3, 5]

In [ ]:
#21.write a code that takes two tuples as input and returns a new tuple containing element that are common to both input tuples
tuple1 =(1,2,3,4,5)
tuple2 =(4,5,6,7,8)
common_element = tuple(set(tuple1) & set(tuple2))
print(common_element)

(4, 5)

In [ ]:
#22. Create a code that prompts the user a enter two sets of integers separated by commas.Then ,print the intersection of these two sets
set1_input=input("Enter first set of integers separated by commas:")
try:
  set1 = set(map(int,set1_input.split(' , ')))
except valueError :
  print("Invalide input for the first set.please enter integers separated by commas.")
  exit()

set2_input=input("Enter another set of integer separated by commas:")
try:
  set2 = set(map(int,set2_input.split(',')))
except valueError:
  print("Invalide input for the second set.please enter integers separated by commas.")
  exit()
intersection = set1.intersection(set2)

In [ ]:
#23. write a code to concatenate two tuples the function should taks two tuples as input and return a nem tupel containig elements from boyh input tuple
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2

In [ ]:
concatenated_tuple

(1, 2, 3, 4, 5, 6)

In [ ]:
#24. Develope a code that prompts the user to input two sets of strings. Then,print the element that are present in the first set but not in the second set
set1 = set(input("Enter element of the first set(separated by spaces):").split())
set2 = set(input("Enter element of the second set(separated by spaces):").split())

diff_set = set1.difference(set)

if diff_set:
  print("Element present in the first set but not in the second set:")
  for element in diff_set:
    print(element)
else:
    print("There are no elements present in the first set but not in the second set.")

Enter a set of integer separated by commas:{11,1,1,1,}
Enter another set of integer separated by commas:{11111}

AttributeError: 'str' object has no attribute 'spilt'

In [ ]:
#25. create a code thatr takes a tuple and two integers as inpue the fnction should retuen a new tupel containig element form the original tuple within the specified range od indices.
tup = (1,2,3,4,5,6,7,8,9,10)
start =2
end =6
sliced_tuple = tup[start:end]
print(sliced_tuple)

(3, 4, 5, 6)

In [ ]:
#26. wriet a code that prompts the user a iput two sets of characters then print the union of these two sets.
set1=input("Enter first set of character:")
set2=input("Enter another set of character:")
union_set= set1.union(set2)
print(f"The union of the two sets is:",union_set)

In [ ]:
#27. develop a code that takes a tuple of integers as input.The function should return the maximum and minimum values from the tuple using tuple unpacking.
tup = tuple(map(int,input("Enter a tuple of integers separarted by commas:").split(',')))
min_val,max_val = min(tup),max(tup)
print(f"Minimum value : {min_val},Maximum value:{max_val}")

In [ ]:
#28. Create a code that defines two sets of integers then print the union intersection and difference of these two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
union = set1 |set2
intersection = set1 & set2
difference1 = set1-set2
difference2 = set2 -set1
print(f"Union:{union}")
print(f"Intersection:{intersection}")
print(f"Difference(set1 -set2):{difference1}")
print(f"Difference(set2 - set2):{difference2}")

Union:{1, 2, 3, 4, 5, 6, 7, 8}
Intersection:{4, 5}
Difference(set1 -set2):{1, 2, 3}
Difference(set2 - set2):{8, 6, 7}

In [ ]:
#29. Write a code that takes a tuple and an element as input. The function should return the count of occurrence of the given element in the tuple
tup = (1,2,3,2,4,1,5,1)
element = 1
count = tup.count(element)
print(f"The element{element}appears{count}times in the tuple.")

The element1appears3times in the tuple.

In [ ]:
#30.develope a code that prompts the user to input two sets of strings.then print the symmetric differece of thses two sets
set1_input = input("Enter a set of strings separated by commas:")
set2_input = input("Enter another set of strings separated by commas:")
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))
symmetric_difference = set1 ^ set2
print(f"The symmetric difference of the two sets is :{symmetric_difference}")

Enter a set of strings separated by commas:('1','2','3','4')
Enter another set of strings separated by commas:('5','6','7','8')
The symmetric difference of the two sets is :{"'6'", "('5'", "'8')", "'2'", "'4')", "('1'", "'7'", "'3'"}

In [ ]:
#31. write a code that takes a list of words as input and returs a dictonary where the keys are unique words and the values are the frequencies of those words in the  input list.
words = input("Enter a list of words separated by commas:").split(',')
freq_dict = {}
for word in words :
  if word in freq_dict:
    freq_dict[word] +=1
  else:
    freq_dict[word] = 1
print(freq_dict)

In [ ]:
#32.write a code that takes two dictionaries as input and merges them into a single dictionary.if there are common keys,the the values should be added together.
dict1 = {'a':1,'b':2,'c':3}
dict2 = {'c':4,'d':5,'e':6}
merged = dict1.copy()
for key,value in dict2.items():
  if key in merged:
    merged[key]+=value
  else:
    merged[key]=value
  print(merged)

In [ ]:
#33.write a code to access a value in a nested dictionary.The functin should take the dictionary and a list of keys as input,and return the corresponding value.if any of the keys do not exits in the dictionary the function should return None.
nested_dict = {
    'a' : {
        'b' : {
            'c':1,
            'd' :2
        },
        'e':3
    },
    'f' : 4
}

keys = ['a','b','c']
value = nested_dict
for keys in keys:
  if isinstance(value,dict):
    if key in value:
      value = value[key]
    else:
      value = None
      break
print(value)

None

In [ ]:
#34. write a code that takes a dictionary as input and returns a sorted version of it based on the values you can choose whether to sort in ascending or descending order
dictionary ={'a':5,'b':2,'c':8,'d':1,'e':3}
order = 'descending'
sorted_dict =sorted(dictionary.items(),key=lambda x:x[1],reverse=(order=='descending'))
print(dict(sorted_dict))

{'c': 8, 'a': 5, 'e': 3, 'b': 2, 'd': 1}

In [ ]:
#35. Write a code that inverts a dictionary ,swapping keys and values.Ensure that the inverted dictionary correctil handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary
dictionary = {'a':1,'b':2,'c':2,'d':3}
inverted ={}
for key,value in dictionary.items():
  if value in inverted:
    inverted[value].append(key)
  else:
    inverted[value] = [key]
print(inverted)

{1: ['a'], 2: ['b', 'c'], 3: ['d']}